body{
   background-image: url("../img/lace_bg.jpg");
    background-repeat:repeat
 
}

.navbar-default{
    background-color: black;
}

.navbar-default .navbar-nav li a{
    color: white;
    font-size: 1.3em;
} 

.navbar-default .navbar-nav li a:hover{
    color: darkcyan;
}