/*********************
  CARDS PREMIUM
**********************/


/* Elegant cards */

.elegant-card {
    margin: $element-top-margin 0 $element-bottom-margin 0;
    position: relative;
    perspective: 800px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    .card-up {
        overflow: hidden;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
    }
    .btn-floating {
        margin: -2.1em 2em;
        float: right;
        .fa {
            font-size: 14px;
        }
    }
    .card-content {
        padding: 2em;
        color: #666666;
        background-color: #fff;
        h5 {
            padding-bottom: 10px;
            border-bottom: 1px solid #eeeeee;
        }
        p {
            font-size: 15px;
            line-height: 1.571428;
            font-weight: 300;
        }
    }
    .card-footer {
        background-color: $stylish-color-dark;
        height: 50px;
        color: #fff;
        text-align: center;
        font-size: 15px;
        ul {
            padding-top: 15px;
            padding-bottom: 15px;
            .fa {
                margin-right: 5px;
            }
            a {
                color: #fff;
            }
        }
    }
    .card-label {
        margin-bottom: -27px;
        margin-top: 0;
        z-index: 10;
        position: relative;
        .label {
            border-radius: 0;
            font-weight: 300;
        }
    }
    .card-details {
        color: #666;
        a {
            color: #666;
        }
    }
}

@media only screen and (max-width: 500px) {
    .elegant-card {
        .card-up {
            max-height: 150px;
        }
        .card-content {
            padding: 1em;
        }
    }
}


/* Stylish card */
.stylish-card {
    margin: $element-top-margin 0 $element-bottom-margin 0;
    .card-content {
        padding: 1.5rem;
        h4 {
            text-align: left;
            padding-bottom: 15px;
            border-bottom: 1px solid #666;
        }
        h5 {
            text-align: right;
            margin-top: 1em;
            border: none;
        }
        .fa-chevron-right {
            font-size: 0.8em;
            margin-left: 8px;
        }
    }
}